*{
    margin-top: auto;
}
input{
    border-radius: 3px;
    padding-bottom: 20px;
    border: none;
}
.A input[type=text]{
 width: 300px;
 padding: auto;
}
body{
    background-image: url(./OIP\ \(3\).jpg);
    background-position: center;
    background-size: cover  ;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 200px;
    height: 250px;
    min-width: 400px;
    border-radius: 5px;
    background-image: linear-gradient(to right , hsla(204, 43%, 48%, 0.744),hsl(201, 10%, 66%));
}
.A input[type=button]{
    color: blue;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
}
p{
    margin-top: 20px;
}
.B input[type=button]{
    color: blueviolet;
}
@media screen (min-width:1150px){
    .container{

    }
}