*{
margin: 0;
padding: 0;
text-transform: capitalize;
}
body{
    background-color:white;
}
h1{
    color: darkorchid;
    background-image: linear-gradient(to left,blue,lightblue,violet);
    background-clip: text;
    -webkit-background-clip: text;
}
.container{
    align-content: center;
    background-color:rgba(156, 110, 199, 0.541);
    width: 98%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 700px;
    border-radius: 5px;

}
.A{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
}
.inputs{
    display: flex;
}
.second{
    display: flex;
}
.A input{
   
    margin: 0 5px;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgb(197, 196, 196);
}
.A .inputs .input{
    position: relative;
    background: transparent;

}
.A .inputs .input label{
    position:absolute ;
    bottom: 0;
} 
.A .second .input{
    position: relative;
}
.A .second .input label{
    position: absolute;
    bottom: 0;
}
.B{
    position: relative;
}
.B label{
    position: absolute;
    bottom: 0;
}
.B input{
    width: 400px;
}

.c button{
    width: 200px;
    height: 40px;
    margin-right: 200px;
    color: white;
    background-image: linear-gradient(to right,blue,violet);
    border-radius: 4px;
    border: none;
}
.c button:hover{
    background-image: linear-gradient(to right,violet,blue);

}